@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&display=swap');

/*
font-family: 'Architects Daughter', cursive;  --- neater
font-family: 'Gloria Hallelujah', cursive;  --- messier
*/

/*
rgb(203, 254, 235)
rgb(48, 60, 97)
rgb(78, 65, 119)
rgb(106, 199, 185)
rgb(230, 255, 255)
*/

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(78, 65, 119);

    
}

.site {
  background: radial-gradient(50% 50% at 50% 50%, rgba(78, 65, 119, 0.9) 0%, rgba(20,12,59, 0.9) 100%), #3f3266;
  height: 100%;
  min-height: 120vh; 

    vertical-align: middle;
}

h1{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.header {
  background-color: rgba(106, 199, 185,0.7);
  padding: 10px;
  text-align: center;
}










.grid-container {
  display: grid;
    width: 100%;
margin: auto;
}



.left{
    grid-row: 1;
    width: 25%;
    float: left;
    
}

.middle{
    grid-row: 1;
    width: 50%;
    float: left;

}

.right{
    grid-row: 1;
    width: 25%;
    float: left;
}




.left3{
    grid-row: 1;
    width: 25%;
    float: left;
    position: relative;
}

.middle3{
    grid-row: 1;
    width: 25%;
    float: left;
    position: relative;
}

.right3{
    grid-row: 1;
    width: 25%;
    float: left;
    position: relative;
}



.top{
    position: absolute;
    padding-left: 25%;
    
}

